body {
    color: #333;
}

img {
    display: block; /* block 요소이기 때문에 세로로 내려갔다 */
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative; /* 기준으로 할 것, relative 안 걸면 제일 상위 요소가 기준이 된다 */
}

.youtube .inner { /* inner가 여러개 있을 때를 대비하여, 섹션별로 분리 */
    height: 700px;
    background-color: skyblue;
}

.youtube .floating1 {
    position: absolute;
    top: 50px;
    left: 0;
}

.youtube .floating2 {
    position: absolute;
    top: 350px;
    left: 150px;
}

.youtube .floating3 {
    position: absolute;
    bottom: -200px;
    right: 0;
}